*{ 
    box-sizing: border-box; 
} 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap'); 
 
:root{
    --hover-color:#2196F3;
}
 
body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto', sans-serif; 
    color: black;
} 
 
.header-top{ 
    width: 1600px; 
    display: flex;   
    margin-left: 215px; 
} 
 
.header-menu{ 
    list-style: none; 
    text-decoration: none; 
    display: flex; 
    padding-left: 93px ; 
    margin-top: 32px; 
    margin-left:215px ; 
} 
 
.header-menu li{ 
    padding-right: 50px; 
    text-decoration: none; 
    font-weight:500; 
} 
 
.header-menu li a{ 
    text-decoration: none; 
    color: black;
} 

.header-menu li a:hover{
    color:var(--hover-color);
}


.header-logo{ 
    margin-top: 24px; 
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    color: black;
} 
 
.header-contact-info{ 
    margin-left: 294px; 
    list-style: none; 
    text-decoration: none; 
    display: flex; 
    margin-top: 32px; 
   
} 
 
.header-contact-info li{ 
    text-decoration: none; 
    padding-right:50px ; 
} 
 
.header-contact-info li a{ 
    text-decoration: none; 
    color: black;
} 

.header-contact-info li a:hover{
    color: #2196F3;
}
.header-contact-info li a:focus{
    color: var(--hover-color);
}
 
.header-herro{ 
    background-color: #2F303A; 
    height: 600px;  
    width: 1600px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;     
} 
 
.herro-text{ 
    color:#FFFFFF; 
    font-size:44px; 
} 
 
.header-button{ 
    background: var(--hover-color); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 
    width: 216px; 
    height: 50px; 
    color: #FFFFFF; 
    border: 0; 
    cursor: pointer;
}

.about{
    margin-top: 95px;
    margin-bottom: 95px;
}

.about-list-main{
    width: 1170px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
    margin: 0 auto;
    list-style: none;
    
}

.about-list{
    font-size: 14px;
    line-height: 1.7;
}
.gonna-do-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.gonna-do-photos{
    list-style: none;
    width: 1170px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.team-card{
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-cards
{   list-style: none;
    width: 1170px;
    display: grid;
    grid-template-columns:repeat(4,270px);
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 94px;
}
.our-team-desc{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team-card img{
    width: 279px;
    height: 260px;
}

.team-name{
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
}

.position{
    text-align: center;
    color: #757575;
    font-size: 16px;
    line-height: 1.18;

}

footer{
    width: 1600px;
    height: 252px;
    background-color: #2F303A;

    margin: 0 auto;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 215px;
}

.adress-item{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom:9px;
    text-decoration: none;

}

.contact-item{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom:9px;
    text-decoration: none;
}

.contacts{
    display: flex;
    flex-direction: column;
    margin-left: 215px;
    list-style-type: none;
    padding-top: 60px;
}

.button-panel {
    width: 775px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 
    align-items: center; 
    list-style: none;
    
}

.btns{
    margin: 0 auto;
    margin-top: 94px;
    margin-bottom: 56px;
}



.btn{
    min-width: 73px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    padding: 6px 25px;
    cursor: pointer;
}

.btn:hover,:focus    {
    background-color: var(--hover-color);
    color: #FFFFFF;
}
.goods{
    margin: 0 auto;
   
}
.goods-list{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-auto-rows: 404px;
    list-style: none;
    gap:30px ;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 95px;
}
.dedcription{
    list-style: none;
}

.good-title{ 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.good-text{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em
}

.goods-picture{
    width: 370px;
    height: 294px;
}

.blue-txt{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hover-color);
}